@use "./ResponsiveBorder";

@import "../_Variables";
@import "../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../node_modules/@drozdik.m/common-mixins/_module";

button {
    border: none;
}

.commonButtonWrapper{
    text-align: center;
}

.commonButton {
    $borderRadius: 3rem;
    @include border-radius($borderRadius);
    padding: 0.75rem 2rem;
    @include transition(color $transition, background-color $transition, border-radius $transition);
    text-decoration: none;
    font-size: $pxInRem-18;
    font-weight: $fontWeightBold;
    display: inline-block;
    cursor: pointer;

    @include ResponsiveBorder.responsiveBorder($borderRadius, white);

    &.commonButtonThick {
        padding: 1.25rem 2.5rem;
        font-size: $pxInRem-24;
    }

    &.commonButtonSlimFlat {
        padding: 0.6rem 3.5rem;
    }
}

@mixin commonButtonScheme($textColor, $textColorHover, $backgroundColor, $backgroundColorHover) {
    color: $textColor;
    background-color: $backgroundColor;

    &:after {
        border-color: $backgroundColor;
    }


    &:hover {
        color: $textColorHover;
        background-color: $backgroundColorHover;

        &:after {
            border-color: $backgroundColorHover;
        }
    }
}

.commonButtonBlack {
    @include commonButtonScheme(white, white, $black, $blackHover);
}

.commonButtonRed {
    @include commonButtonScheme(white, white, $red, $redHover);
}

.commonButtonDarkRed {
    @include commonButtonScheme(white, white, $darkRed, $darkRedHover);
}

.commonButtonGreen {
    @include commonButtonScheme(white, white, $successColor, $sucesssColorFaded);
}