@use "sass:math";

@import "../_Variables";
@import "../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../node_modules/@drozdik.m/common-mixins/_module";
@import "../EntityList/EntityList";
@import "ProjectListItem";


.projectList {
    max-width: $projectMaxWidth;
    margin: 0 auto;
    

    //COLOR SCHEMES
    &.darkMode {
        .tagsHeading {
            color: white;
        }
    }

    &.lightMode {
        .tagsHeading {
            color: $black;
        }
    }
    //TAGS HEADING
    .tagsHeading {
    }
    //NOT FOUND
    .notFound {
    }
    //TAGS
    .tags {
    }

    //EXTRA BUTTONS
    .extraActionButton {
    }
}

@media only screen and (max-width: 56.875rem){
    .projectList {

    }
}

@media only screen and (max-width: 30rem){
    .projectList {

    }
}