@import "../_Variables";
@import "../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../node_modules/@drozdik.m/common-mixins/_module";
@import "../Global/Tags";

.projectList{
    max-width: 50rem;
    margin: 0 auto;
    padding: 0.75rem;

    //COLOR SCHEMES
    &.darkMode{

    }

    &.lightMode{
        span, a, p, h3{
            color: white;
        }
    }

    //TAGS HEADING
    .tagsHeading{
        font-weight: $fontWeightExtraBold;
        display: block;
        font-size: $pxInRem-26;
        margin-bottom: $pxInRem-6;
    }

    //TAGS
    .tags{

    }

}