@import "../_Variables";
@import "../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../node_modules/@drozdik.m/common-mixins/_module";


.icon{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 0;
    display: block;
}