@import "../../_Variables.scss";
@import "../../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../../node_modules/@drozdik.m/common-mixins/_module";

@import "../../Gallery/Gallery";
@import "../../ContactMeStripe/ContactMeStripe";
@import "../../Team/Team";
@import "../../Technologies/Technologies";

//$articleBlockMaxWidth: 55rem;
@import "../../Article/Article";

body {
    background-color: $blogBackground;
}


//--------------------------------------------------
//---------PROJECT PAGE-----------------------------
//--------------------------------------------------
.breadcrumbsBlock{
    max-width: $articleBlockMaxWidth;
}

#article {
    //max-width: $articleBlockMaxWidth;
    margin-bottom: 1rem;
    //---ABSTRACT---
    .commonP {
        max-width: none;
        font-family: 'OpenSans', 'Raleway', Verdana, sans-serif;
        margin-bottom: $pxInRem-12;
    }
    //---IMAGE---
    #articleMainImage {
        display: block;
        @include box-shadow($pxInRem-5 $pxInRem-5 $pxInRem-10 0 rgba(0, 0, 0, 0.5));
        max-width: 100%;
        margin-bottom: 1.5rem;
        @include border-radius($radiusSmall);
    }
    //---TAGS---
    .tags {
        margin-bottom: $pxInRem-24;

        &:after {
            clear: both;
            display: block;
            content: " ";
            font-size: 0;
        }
    }
    //---ARTICLE---
    .article {
        $schemeColor: $darkRed;

        h1, h2, h3, h4, h5, h6, strong, b, .important {
            color: $schemeColor;
        }

        .highlighted {
            background-color: $schemeColor;
        }

        .sidelined {
            &:before {
                background-color: $schemeColor;
            }
        }

        blockquote {
            color: $schemeColor;
            background-color: rgba(214,60,115, 0.07);

            &:before {
                filter: brightness(0) saturate(100%) invert(15%) sepia(43%) saturate(3710%) hue-rotate(316deg) brightness(82%) contrast(103%);
            }
        }
    }
    //---AUTHOR---
    #author {
        font-size: 0;
        margin: 2rem 0;

        .authorImage, .authorInfo {
            display: inline-block;
            vertical-align: middle;
        }

        .authorImage {
            background-image: url("/Web/Team/Default.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            $dimensions: $pxInRem-73;
            width: $dimensions;
            height: $dimensions;
            @include box-shadow(0 0 $pxInRem-10 $pxInRem-5 rgba(0, 0, 0, 0.25));
            @include border-radius(50%);
            margin-right: $pxInRem-20;
        }

        .authorInfo {
            .authorName, .publishDate {
                font-size: $pxInRem-18;
                display: block;
            }

            .authorName {
                color: $black;
                font-weight: $fontWeightBold;
            }

            .publishDate {
                color: #535353;
                font-weight: $fontWeightSemiBold;
            }
        }
    }
}

@media only screen and (max-width: 72rem) {
}

@media only screen and (max-width: 46rem){
    #article {
        #articleMainImage {
            margin-bottom: 1rem;
            @include box-shadow($pxInRem-3 $pxInRem-3 $pxInRem-5 0 rgba(0, 0, 0, 0.5));
        }
    }
}
