@model SitemapPageModel
@inject IFilePathProvider PathProvider

@{
    //Layout
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@PathProvider.PathTo("/_dist/_pack/css/SitemapPage.css")" />
}

@section Scripts{
    <script type="text/javascript" src="@PathProvider.PathTo("/_dist/_pack/js/SitemapPage.js")"></script>
}

<div id="sitemap" class="block blockMargin">
    <h1 class="commonH commonHGradient">Mapa stránek</h1>
    <p class="commonP commonPRed">Hierarchický list odkazů, z jichž se tento web skládá.</p>
    @Html.Raw(Model.RootSitemapNode.GenerateHTML())
</div>