@use "sass:math";

@import "../../_Variables.scss";
@import "../../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../../node_modules/@drozdik.m/common-mixins/_module";

#sitemap {

    a, ul, li {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

    ul {
        margin-left: $pxInRem-18;

        li {
            a {
                color: black;
                display: block;
                position: relative;
                font-size: $pxInRem-18;
                margin-bottom: $pxInRem-5;

                &:hover {
                    text-decoration: underline;
                }
                //LEAF AND BRANCH
                &.leaf, &.branch {
                    &:before {
                        font-size: 0;
                        content: "&nbsp;";
                        position: absolute;
                    }
                }
                //LEAF
                &.leaf {
                    padding-left: $pxInRem-17;

                    &:before {
                        background-color: $red;
                        @include border-radius(50%);
                        $dimensions: $pxInRem-6;
                        height: $dimensions;
                        width: $dimensions;
                        left: $pxInRem-5;
                        top: 50%;
                        margin-top: -(math.div($dimensions, 2));
                        @include transition (left $transition);
                    }

                    &:hover {
                        &:before {
                            left: 0;
                        }
                    }
                }
                //BRANCH
                &.branch {
                    padding-left: $pxInRem-16;

                    &:before {
                        width: 0;
                        height: 0;
                        left: 0;
                        $arrowHeight: $pxInRem-6;
                        border: $arrowHeight solid rgba(255, 255, 255, 0);
                        border-top-color: $dark;
                        top: 40%;
                        @include transition (top $transition);
                    }

                    &:hover {
                        &:before {
                            top: 45%;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 31.25rem) {
    #sitemap {
        ul {
            margin-left: $pxInRem-9;

            li {
                a {
                    font-size: $pxInRem-16;
                    margin-bottom: $pxInRem-2;
                }
            }
        }
    }
}
