@import "../_Variables.scss";
@import "../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../node_modules/@drozdik.m/common-mixins/_module";


//--------------------------------------------------
//---------HERO HEADER------------------------------
//--------------------------------------------------


#heroHeader {
    $marginLeft: 5%;
    background-color: $red;
    background: linear-gradient(to bottom right, $red, $black);
    font-size: 0;
    padding-bottom: 3rem;
    @include box-shadow(0px 0px $pxInRem-30 $pxInRem-23 rgba(0, 0, 0, 0.4));

    #heroHeaderContent {
        max-width: 120rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    //HEADER TEXTS
    #heroHeaderText {
        padding-top: 11%;
        margin-left: $marginLeft;
        margin-bottom: 3%;

        #heroHeaderIAm, #heroHeaderSE, h1 {
            color: white;
        }

        #heroHeaderIAm, #heroHeaderSE {
            display: block;
        }


        h1, #heroHeaderSE {
            font-weight: $fontWeightBlack;
            font-size: 5.5rem;
        }

        #heroHeaderIAm {
            font-size: 2.25rem;
            font-weight: $fontWeightSemiBold;
            margin-block: 1.5rem;
        }

        h1 {
            margin-bottom: -$pxInRem-12;
        }

        #heroHeaderSE {
        }
        //LOGO ICON
        .whiteLogoIcon {
            float: right;
            width: 22.5rem;
            height: 19.6875rem;
            margin-right: 10%;
            margin-top: 3%;
        }
    }
    //HEADER BUTTONS
    #headerButtons {
        margin-left: $marginLeft;

        .commonButton {
            text-transform: uppercase;
            margin-right: 2.5rem;
        }

        .commonButton, .freeForWork {
            display: inline-block;
            vertical-align: middle;
        }
    }
    //CONTACT INFOS
    .contactInfos {
        margin-left: $marginLeft;
        margin-top: 13%;
    }
}

