@import "../_Variables.scss";
@import "../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../node_modules/@drozdik.m/common-mixins/_module";

@import "../Global/DashedBorder";
@import "../Global/LinkHover";


//--------------------------------------------------
//---------FOOTER-----------------------------------
//--------------------------------------------------

#mainFooter {
    background-color: $black;
    padding-top: 0;

    #footerNav {
        text-align: center;

        ul {
            border-bottom: $pxInRem-1 dashed white;
            @include dashedBorderWhite();
            border-image-width: 0 0 1.5rem 0;


            li {
                display: inline-block;
                vertical-align: middle;
                padding: $pxInRem-8 0;

                a {
                    display: block;
                    padding: $pxInRem-12 $pxInRem-26;
                    font-size: $pxInRem-26;
                    font-weight: $fontWeightBold;
                    color: white;
                    

                    @include linkHover($pxInRem-6, $pxInRem-12);
                }
            }
        }
    }
}

@media only screen and (max-width: 50rem){
    #mainFooter {

        #footerNav {


            ul {

                li {
                    a {
                        display: block;
                        padding: $pxInRem-8 $pxInRem-14;
                        font-size: $pxInRem-20;
                        @include linkHover($pxInRem-2, $pxInRem-6, 1.3);
                    }
                }
            }
        }
    }

}