@model ContactModel

<div id="contact" class="block blockMargin">
    <h2 class="commonH commonHGradient">Kontakt</h2>
    <p class="commonP commonPBlack">Neváhejte mě kontaktovat s&nbsp;jakoukoliv záležitostí. Ozvu&nbsp;se vám zpět hned jak to bude možné.</p>

    <div id="contactBlocks">
        <div id="contactInfo">
            <h3>Kontaktní informace</h3>
            <p>Můj email a telefonní číslo je vám k dispozici. Jakou myšlenku budeme realizovat?</p>

            <svg id="contactInfoCircles" width="294" height="338" viewBox="0 0 294 338" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="293.5" cy="280.5" r="204" stroke="white" stroke-opacity="0.3" stroke-dasharray="20 20" />
                <circle cx="329.5" cy="310.5" r="154" stroke="white" stroke-opacity="0.3" stroke-dasharray="20 20" />
                <circle cx="272" cy="272" r="271.5" stroke="white" stroke-opacity="0.3" stroke-dasharray="20 20" />
            </svg>

            <span class="freeForWork">Volný pro práci</span>

            <dl class="contactInfos">
                <dt>Email</dt>
                <dd class="email"><a href="" title="Kontaktní email" data-email-link></a></dd>
                <dt>Telefon</dt>
                <dd class="phone"><a href="" title="Kontaktní číslo" data-phone-link></a></dd>
                <dt>Lokace</dt>
                <dd class="location">Česká republika</dd>
            </dl>

            <div id="contactInfoLinks">
                <a href="https://github.com/drozdik-m" title="Můj GitHub účet" target="_blank" rel="noopener"><i class="icon iconGitHubWhite">GitHub profil</i></a>
                <a href="https://www.linkedin.com/in/martin-drozdik/" title="Můj LinkedIn profil" target="_blank" rel="noopener"><i class="icon iconLinkedInWhite">LinkedIn profil</i></a>
                <a href="https://stackoverflow.com/users/5138444/martin-drozd%c3%adk" title="Můj StackOverflow profil" target="_blank" rel="noopener"><i class="icon iconStackOverflowWhite">StackOverflow profil</i></a>
            </div>

        </div>

        <div id="contactForm">
            <h3>Kontaktní formulář</h3>
            <p>Kontaktní formulář je zajisté nejrychlejší forma, jak mě kontaktovat. Neváhejte jej vyplnit a odeslat.</p>

            <form id="contactFormElement" target="@Url.Action("SendMail", "Home")" method="post" class="form">

                <div class="formBlock">
                    <label for="contactNameAndSurname" class="mandatory">Jméno a přijmení</label>
                    <input type="text" id="contactNameAndSurname" name="Name" placeholder="Jan Svoboda" />
                    <ul id="contactNameAndSurnameErrorList" class="errorList"></ul>
                </div>
                <div class="formBlock">
                    <label for="contactEmail" class="mandatory">Email</label>
                    <input type="text" id="contactEmail" name="Email" placeholder="jan.svoboda@seznam.cz" />
                    <ul id="contactEmailErrorList" class="errorList"></ul>
                </div>
                <div class="formBlock">
                    <label for="contactSubject">Předmět</label>
                    <input type="text" id="contactSubject" name="Subject" placeholder="Dotaz" />
                    <ul id="contactSubjectErrorList" class="errorList"></ul>
                </div>

                <div class="formBlock">
                    <label for="contactMessage" class="mandatory">Zpráva</label>
                    <textarea id="contactMessage" name="Message" placeholder="Dobrý den, ..."></textarea>
                    <ul id="messageErrorList" class="errorList"></ul>
                </div>

                <div class="submitButtonWrapperCenter">
                    <button type="submit" class="commonButton commonButtonSlimFlat commonButtonRed">Odeslat</button>
                </div>

                <div id="contactFormRecaptchaDialogWindow" class="statusWindow">
                    <span class="statusWindowHeading">Prosím ověřte, že nejste robot</span>
                    <span class="statusWindowText">Je to nutné, abych neměl schránku přeplněnou spamem. Děkuji za pochopení.</span>
                    <div class="formBlock recaptchaFormBlock">
                        <div id="contactFormRecaptcha"></div>
                    </div>
                    <div class="commonButton commonButtonBlack dialogClose">Zavřít</div>
                </div>

            </form>

        </div>
    </div>

</div>