@model MySkillsModel

<div id="mySkills" class="backgroundBlock">
    <div id="mySkillsContent" class="block">
        <h2 class="commonH commonHBlack">Co umím?</h2>
        <p class="commonP commonPBlack">Díky letitým zkušenostem i studii na ČVUT jsem nabral širokou sadu hlubinných i povrchních zkušeností. Mezi ty hlubinné patří <strong>kvalitní OOP design</strong>, web development a team leading.  </p>

        <ul id="mySkillsList">
            <li id="skillWebDevelopment">
                <h3>Web development</h3>
                <p>Jako webový vývojář jsem schopný tvořit komplexní projekty, a to od základu. Konstrukce front-endu i s moderními SPA frameworky je pro mě denní chleba. Intuitivní UI, kvalitní informační architektura, přístupnost, SEO a další standardy beru jako samozřejmost. Ani v back-end technologiích nezastávám, a dokážu vytvořit kvalitně zpracovanou aplikaci.</p>
            </li>
            <li id="skillCodeDesign" class="importantSkill">
                <h3>Code design</h3>
                <p>Má hlavní dovednost je kvalitní, promyšlený a objektově-orientovaný návrh libovolných problémů. Nejprve přemýšlím, pak až kódím. Nebojím se refaktorovat. Uvažuji ve struktuře malých, znovupoužitelných, rozšiřitelných, otestovaných a samostatných modulů. Díky tomu řeším složité záležitosti velmi elegantně. </p>
            </li>
            <li id="skillProjectManagement">
                <h3>Project management</h3>
                <p>Majoritu svých projektů jsem dokončil v týmu jako leader. Díky povrchním i hlubinným znalostem z širokého spektra předmětů dokážu efektivně vést tým k jeho cíli. Projekt účelně projednávám s klienty i vedením. Podnikatelské záměry mi nejsou cizí. Ze všeho nejvíce si dávám práci poznat svůj tým a dobře s ním komunikovat.</p>
            </li>
        </ul>
    </div>
</div>