@model IndexPageModel

@{
    //Layout
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/_dist/wwwroot/Web/_Pages/Index/Index.css" />
}

@section Scripts{
    <script type="text/javascript" src="~/_dist/_pack/Index.js"></script>
}

<header id="heroHeader">

    <div id="heroHeaderContent">

        <svg id="heroHeaderCircles" width="1920" height="1030" viewBox="0 0 1920 1030" fill="none" xmlns="http://www.w3.org/2000/svg"></svg>

        <div id="heroHeaderText">

            <white-logo-icon />
            <span id="heroHeaderIAm">Ahoj, já jsem</span>
            <h1>Martin Drozdík</h1>
            <span id="heroHeaderSE">Software engineer</span>

        </div>

        <div id="headerButtons">
            <a href="#contact" class="slowScroll commonButton commonButtonBlack">Kontaktujte mě</a>
            <span class="freeForWork">Volný pro práci</span>
        </div>

        <dl class="contactInfos inline">
            <dt>Email</dt>
            <dd class="email"><a href="mailto:ja@martin-drozdik.cz">ja@martin-drozdik.cz</a></dd>
            <dt>Telefon</dt>
            <dd class="phone"><a href="tel:+420737416525">+420 737 416 525</a></dd>
            <dt>Lokace</dt>
            <dd class="location">Praha/Liberec</dd>
        </dl>

        <a id="heroHeaderArrowDown" href="#aboutMe" class="slowScroll">↓</a>

    </div>


</header>

<div id="aboutMe" class="backgroundBlock">
    <div id="aboutMeContent" class="block">
        <div id="aboutMeText">
            <h1 class="commonH commonHGradient">Kdo jsem?</h1>
            <p class="commonP commonPRed">Jmenuji se Martin Drozdík a jsem <strong>softwarový engineer</strong>. Programuji již od malička. Mám širokou škálu zkušeností s <strong>programováním webových stránek</strong>, a to jak front-end, tak back-end. Umím si však poradit s programováním všeho druhu, díky kvalitnímu <strong>object-oriented designu a modularizaci</strong>.</p>
            <p class="commonP commonPRed">Již 6 let vedu skupinu nezávislých freelancerů Bonsai Development. Nejsou mi tedy cizí zkušenosti z pozice <strong>team leader</strong>. Rád komunikuji s klienty a pomáhám realizovat jejich vize. </p>
        </div>
        <div id="aboutMeImage">
            <img src="~/Web/AboutMe/MartinDrozdik.png" alt="Foto Martina Drozdíka" title="Já, Martin Drozdík" />
        </div>
    </div>

    <ul id="aboutMeStats" class="blockNarrower">
        <li class="importantStat programmingExperienceStat">
            @{ 
                //Experience time calculations
                DateTime dateStartedProgramming = new DateTime(2016, 1, 1);
                var programmingExperience = DateTime.Today - dateStartedProgramming;
                var yearCount = programmingExperience.TotalDays / 365;
                var yearCountRoundedDown = Math.Floor(yearCount);
                var yearRemainder = yearCount - yearCountRoundedDown;

                string experienceYears = yearCountRoundedDown.ToString();
                string experiencePrefix = "přes";
                if (yearRemainder >= 0.75)
                {
                    experiencePrefix = "téměř";
                    experienceYears = (yearCountRoundedDown + 1).ToString();
                }
            }
            @experiencePrefix<span class="statNumber">@experienceYears</span>let zkušeností s programováním
        </li>
        <li class="importantStat projectCountStat">
            přes<span class="statNumber">30</span>dokončených projektů
        </li>
    </ul>
</div>
