@model IndexPageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/_dist/wwwroot/Web/_Pages/Index/Index.css" />
}

@section Scripts{
    <script type="text/javascript" src="~/_dist/_pack/Index.js"></script>
}

<header id="heroHeader">

    <div id="heroHeaderContent">

        <div id="heroHeaderText">
            <span id="heroHeaderIAm">Ahoj, já jsem</span>
            <h1>Martin Drozdík</h1>
            <span id="heroHeaderSE">Software engineer</span>
        </div>

        <div id="headerButtons">
            <a href="#contact" class="slowScroll commonButton commonButtonBlack">Kontaktujte mě</a>
            <span class="freeForWork">Volný pro práci</span>
        </div>

        <dl class="contactInfos inline">
            <dt>Email</dt>
            <dd class="email"><a href="mailto:ja@martin-drozdik.cz">ja@martin-drozdik.cz</a></dd>
            <dt>Telefon</dt>
            <dd class="phone"><a href="tel:+420737416525">+420 737 416 525</a></dd>
            <dt>Lokace</dt>
            <dd class="location">Praha/Liberec</dd>
        </dl>

    </div>

    @*<svg width="1820" height="877" viewBox="0 0 1820 877" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="45.15" cy="45.5834" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="202.339" cy="45.5834" r="45.15" fill="white" fill-opacity="0.0175" />
        <circle cx="359.528" cy="45.5834" r="45.15" fill="white" fill-opacity="0.05" />
        <circle cx="516.717" cy="45.5834" r="45.15" fill="white" fill-opacity="0.05" />
        <circle cx="673.906" cy="45.5834" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="831.094" cy="45.5834" r="45.15" fill="white" fill-opacity="0.0175" />
        <circle cx="988.283" cy="45.5834" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="1145.47" cy="45.5834" r="45.15" fill="white" fill-opacity="0.0175" />
        <circle cx="1302.66" cy="45.5834" r="45.15" fill="white" fill-opacity="0.05" />
        <circle cx="1459.85" cy="45.5834" r="45.15" fill="white" fill-opacity="0.05" />
        <circle cx="45.15" cy="202.772" r="45.15" fill="white" fill-opacity="0.05" />
        <circle cx="202.339" cy="202.772" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="359.528" cy="202.772" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="516.717" cy="202.772" r="45.15" fill="white" fill-opacity="0.0175" />
        <circle cx="673.906" cy="202.772" r="45.15" fill="white" fill-opacity="0.05" />
        <circle cx="831.094" cy="202.772" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="988.283" cy="202.772" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="1145.47" cy="202.772" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="1302.66" cy="202.772" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="1459.85" cy="202.772" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="45.15" cy="359.961" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="202.339" cy="359.961" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="359.528" cy="359.961" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="516.717" cy="359.961" r="45.15" fill="white" fill-opacity="0.05" />
        <circle cx="673.906" cy="359.961" r="45.15" fill="white" fill-opacity="0.0175" />
        <circle cx="831.094" cy="359.961" r="45.15" fill="white" fill-opacity="0.0175" />
        <circle cx="988.283" cy="359.961" r="45.15" fill="white" fill-opacity="0.05" />
        <circle cx="1145.47" cy="359.961" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="1302.66" cy="359.961" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="1459.85" cy="359.961" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="45.15" cy="517.15" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="202.339" cy="517.15" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="359.528" cy="517.15" r="45.15" fill="white" fill-opacity="0.0175" />
        <circle cx="516.717" cy="517.15" r="45.15" fill="white" fill-opacity="0.05" />
        <circle cx="673.906" cy="517.15" r="45.15" fill="white" fill-opacity="0.0175" />
        <circle cx="831.094" cy="517.15" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="988.283" cy="517.15" r="45.15" fill="white" fill-opacity="0.05" />
        <circle cx="1145.47" cy="517.15" r="45.15" fill="white" fill-opacity="0.05" />
        <circle cx="1302.66" cy="517.15" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="1459.85" cy="517.15" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="45.15" cy="674.339" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="202.339" cy="674.339" r="45.15" fill="white" fill-opacity="0.0175" />
        <circle cx="359.528" cy="674.339" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="516.717" cy="674.339" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="673.906" cy="674.339" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="831" cy="674.433" r="45" fill="white" fill-opacity="0.1" />
        <circle cx="988.283" cy="674.339" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="1145.47" cy="674.339" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="1302.66" cy="674.339" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="1459.85" cy="674.339" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="45.15" cy="831.528" r="45.15" fill="white" fill-opacity="0.0175" />
        <circle cx="202.339" cy="831.528" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="359.528" cy="831.528" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="516.717" cy="831.528" r="45.15" fill="white" fill-opacity="0.05" />
        <circle cx="673.906" cy="831.528" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="831.094" cy="831.528" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="988.283" cy="831.528" r="45.15" fill="white" fill-opacity="0.0175" />
        <circle cx="1145.47" cy="831.528" r="45.15" fill="white" fill-opacity="0.025" />
        <circle cx="1302.66" cy="831.528" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="1459.85" cy="831.528" r="45.15" fill="white" fill-opacity="0.1" />
        <circle cx="1774.34" cy="45.15" r="45.15" transform="rotate(90 1774.34 45.15)" fill="white" fill-opacity="0.1" />
        <circle cx="1774.34" cy="202.339" r="45.15" transform="rotate(90 1774.34 202.339)" fill="white" fill-opacity="0.05" />
        <circle cx="1774.34" cy="359.528" r="45.15" transform="rotate(90 1774.34 359.528)" fill="white" fill-opacity="0.1" />
        <circle cx="1774.34" cy="516.717" r="45.15" transform="rotate(90 1774.34 516.717)" fill="white" fill-opacity="0.1" />
        <circle cx="1774.34" cy="673.906" r="45.15" transform="rotate(90 1774.34 673.906)" fill="white" fill-opacity="0.025" />
        <circle cx="1774.34" cy="831.094" r="45.15" transform="rotate(90 1774.34 831.094)" fill="white" fill-opacity="0.0175" />
        <circle cx="1617.15" cy="45.15" r="45.15" transform="rotate(90 1617.15 45.15)" fill="white" fill-opacity="0.1" />
        <circle cx="1617.15" cy="202.339" r="45.15" transform="rotate(90 1617.15 202.339)" fill="white" fill-opacity="0.1" />
        <circle cx="1617.15" cy="359.528" r="45.15" transform="rotate(90 1617.15 359.528)" fill="white" fill-opacity="0.05" />
        <circle cx="1617.15" cy="516.717" r="45.15" transform="rotate(90 1617.15 516.717)" fill="white" fill-opacity="0.1" />
        <circle cx="1617.15" cy="673.906" r="45.15" transform="rotate(90 1617.15 673.906)" fill="white" fill-opacity="0.1" />
        <circle cx="1617.15" cy="831.094" r="45.15" transform="rotate(90 1617.15 831.094)" fill="white" fill-opacity="0.0175" />
    </svg>*@


</header>

