@model ProjectsPageModel
@inject IFilePathProvider PathProvider

@{
    //Layout
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link rel="stylesheet" href="@PathProvider.PathTo("/_dist/_pack/css/ProjectsPage.css")" />
}

@section Scripts
{
    <script defer type="text/javascript" src="@PathProvider.PathTo("/_dist/_pack/js/ProjectsPage.js")"></script>
}

<p>projekty yo!</p>