@import "../../_Variables.scss";

@import "../../../node_modules/@drozdik.m/form/module";
@import "../../../node_modules/@drozdik.m/common-mixins/_module";
@import "../../../node_modules/@drozdik.m/common-button/module";


//--------------------------------------------------
//---------SIZES------------------------------------
//--------------------------------------------------

//Font-sizes
$h1FS: $pxInRem-26;
$h1mobileFS: $pxInRem-22;
$h2FS: $pxInRem-22;
$h2mobileFS: $pxInRem-20;
$h3FS: $pxInRem-20;
$h3mobileFS: $pxInRem-18;
$h4FS: $pxInRem-18;
$h4mobileFS: $pxInRem-16;
$h5FS: $pxInRem-16;
$h5mobileFS: $pxInRem-14;
$h6FS: $pxInRem-14;
$h6mobileFS: $pxInRem-12;

//Line-heights
$normalFS: $pxInRem-18;
$mobileFS: $pxInRem-16;
$normalLH: $pxInRem-28;
$mobileLH: $pxInRem-22;

//Margins
$hMargin: $pxInRem-10;
$hMarginMobile: $hMargin;
$pMargin: $pxInRem-30;
$pMarginMobile: $pxInRem-15;
$itemMargin: $pMargin;
$itemMarginMobile: $pMarginMobile;

//Mobile breakpoint
$mobileBreakpoint: 37.5rem;

//Images
$imageMaxWidth: 30rem;

//Colors
$lightGray: #E0E0E0;
$lighterGray: #F9F9F9;

//Article block
$articleBlockMaxWidth: 45rem;
$articleBlockPadding: 1rem;

//--------------------------------------------------
//---------BLOCK------------------------------------
//--------------------------------------------------
.articleBlock {
    max-width: $articleBlockMaxWidth;
    margin: 0 auto;
    padding: $articleBlockPadding;
}

@media only screen and (max-width: $mobileBreakpoint) {
    .articleBlock {
        padding: 1rem 0.5rem;
    }
}


//--------------------------------------------------
//---------TEXTS------------------------------------
//--------------------------------------------------
.article {

    p, span, a, q, li, table, cite {
        font-size: $normalFS;
        line-height: $normalLH;
    }

    p {
        margin-bottom: $pMargin;
        line-height: $normalLH;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: $hMargin;
    }

    h1 {
        font-size: $h1FS;
        font-weight: bolder;
    }

    h2 {
        font-size: $h2FS;
    }

    h3 {
        font-size: $h3FS;
    }

    h4 {
        font-size: $h4FS;
    }

    h5 {
        font-size: $h5FS;
    }

    h6 {
        font-size: $h6FS;
    }

    .hiddenEscape {
        display: none;
    }
}

@media only screen and (max-width: $mobileBreakpoint) {
    .article {
        p, span, a, q, li, cite {
            font-size: $mobileFS;
            line-height: $mobileLH;
        }

        p {
            margin-bottom: $pMarginMobile;
            line-height: $mobileLH;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: $hMarginMobile;
        }

        h1 {
            font-size: $h1mobileFS;
        }

        h2 {
            font-size: $h2mobileFS;
        }

        h3 {
            font-size: $h3mobileFS;
        }

        h4 {
            font-size: $h4mobileFS;
        }

        h5 {
            font-size: $h5mobileFS;
        }

        h6 {
            font-size: $h6mobileFS;
        }
    }
}

//--------------------------------------------------
//---------DIVIDERS---------------------------------
//--------------------------------------------------
.article {
    //Dividers
    .divider, hr {
        font-size: 0;
        height: $pxInRem-1;
        margin: $itemMargin 0;
        content: "&nbsp;";


        &.line {
            background-color: rgba(0,0,0,0.2);
        }

        &.transitionLine {
            background: linear-gradient(to right, transparent, rgba(0,0,0,.5), transparent);
        }

        &.dotted {
            text-align: center;

            &:after {
                $dotFontSize: $pxInRem-25;
                $dotLineHeight: $pxInRem-10;
                content: "\B7 \B7 \B7";
                font-size: $dotFontSize;
                line-height: $dotFontSize;
                height: $dotFontSize;
                letter-spacing: $dotLineHeight;
                margin-top: -$dotLineHeight;
                display: inline-block;
            }
        }
    }
    //Hr
    hr {
        background-color: rgba(0,0,0,0.2);
        border: none;
    }
}

@media only screen and (max-width: $mobileBreakpoint) {
    .article {
        .divider {
            margin: $itemMarginMobile 0;
        }
    }
}

//--------------------------------------------------
//---------IMAGE------------------------------------
//--------------------------------------------------
.article {
    img {
        display: block;
        width: $imageMaxWidth;
        max-width: 100%;
        margin-bottom: $itemMargin;
        margin-left: auto;
        margin-right: auto;
        @include box-shadow($pxInRem-5 $pxInRem-5 $pxInRem-10 0 rgba(0, 0, 0, 0.5));
    }

    figure {
        text-align: center;
        margin-bottom: $itemMargin;
        margin-left: 0;
        margin-right: 0;

        img, figcaption {
            margin: 0 auto;
        }

        img {
            margin-bottom: $pxInRem-16;
        }

        figcaption {
            font-style: italic;
            text-align: center;
            font-size: $pxInRem-16;
            max-width: $imageMaxWidth;
        }
    }
}

//--------------------------------------------------
//---------LINKS------------------------------------
//--------------------------------------------------
.article {
    a {
        color: $linkColor;

        &:hover {
            text-decoration: underline;
        }

        &:visited {
            color: $linkColorVisited;
        }

        &.external {
            background-position: right center;
            background-repeat: no-repeat;
            background-image: url("/Web/Article/ExternalLink.png?version=1.0.0");
            background-size: $pxInRem-11;
            padding-right: $pxInRem-15;
        }
    }
}

//--------------------------------------------------
//---------QUOTE------------------------------------
//--------------------------------------------------
.article {
    blockquote {
        background: $lighterGray;
        border-left: $pxInRem-10 solid $lightGray;
        margin-bottom: $itemMargin;
        padding: $pxInRem-8 $pxInRem-10;
        quotes: "\201C""\201D""\2018""\2019";

        &:before {
            $fontSize: $pxInRem-48;
            color: $lightGray;
            content: "\201C";
            font-size: $fontSize;
            line-height: $pxInRem-10;
            margin-right: $pxInRem-4;
            vertical-align: -$fontSize / 3;
        }

        p {
            display: inline;
            font-weight: bold;
        }

        cite {
            text-align: right;
            display: block;

            &:before {
                content: "— ";
            }
        }
    }
}

//--------------------------------------------------
//---------IMPORTANT TEXT---------------------------
//--------------------------------------------------
.article {
    .importantText {
        text-align: center;
        font-size: $pxInRem-22;
        line-height: normal;
        font-weight: bold;
        margin: $pxInRem-40 0;
    }
}

@media only screen and (max-width: $mobileBreakpoint) {
    .article {
        .importantText {
            font-size: $pxInRem-18;
            margin: $pxInRem-20 0;
        }
    }
}

//--------------------------------------------------
//---------BORDER LEFT PARAGRAPH--------------------
//--------------------------------------------------
.article {
    .thickLeftBorder {
        position: relative;
        padding-left: $pxInRem-18;

        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: $pxInRem-4;
            background-color: $mainTheme;
            content: "&nbsp;";
            font-size: 0;
            box-shadow: $pxInRem-2 $pxInRem-2 $pxInRem-2 0 rgba(0, 0, 0, 0.35);
        }
    }
}

//--------------------------------------------------
//---------LISTS------------------------------------
//--------------------------------------------------
.article {
    ul, ol {
        margin-left: $pxInRem-24;
        margin-bottom: $itemMargin;

        li {
            margin: $pxInRem-8 0;
        }
    }

    ul {
        li {
            list-style-type: disc;
        }
    }

    ol {
        li {
            list-style-type: decimal;
        }
    }
}

@media only screen and (max-width: $mobileBreakpoint) {
    .article {
        ul, ol {
            margin-bottom: $itemMarginMobile;

            li {
            }
        }

        ul {

            li {
            }
        }

        ol {
            li {
            }
        }
    }
}

//--------------------------------------------------
//---------YT VIDEO---------------------------------
//--------------------------------------------------
.article {
    .youtubeWrapper {
        max-width: 100%;
        width: 40rem;
        height: 16.875rem;
        display: block;
        margin: $itemMargin auto;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (max-width: $mobileBreakpoint) {
    .article {
        .youtubeWrapper {
            margin: $itemMarginMobile auto;
        }
    }
}


//--------------------------------------------------
//---------FILE-------------------------------------
//--------------------------------------------------
.article {

    .fileLink {
        &:hover {
            text-decoration: none;

            .file {

                .fileText {

                    .fileName {
                        text-decoration: underline;
                    }

                    .fileDescription {
                    }
                }
            }
        }

        &:visited {
            .file {
                .fileIcon {
                    border-color: $linkColorVisited;
                }

                .fileText {


                    .fileName {
                        color: $linkColorVisited;
                    }

                    .fileDescription {
                        color: $linkColorVisited;
                    }
                }
            }
        }
    }

    .file {
        margin-bottom: $itemMargin;
        font-size: 0;


        &:after {
            content: " ";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
            font-size: 0;
        }

        &:active {
            .fileIcon {
                @include box-shadow(0 0 0 0 rgba(0, 0, 0, 0.5));

                &:after {
                    @include box-shadow(inset 0 0 $pxInRem-8 rgba(0, 0, 0, 0.5));
                }
            }
        }


        .fileIcon, .fileText {
            display: inline-block;
            vertical-align: middle;
        }

        $iconDimensions: 4rem;
        $iconMarginRight: 1rem;
        $iconBorderWidth: $pxInRem-2;

        .fileIcon {
            width: $iconDimensions;
            height: $iconDimensions;
            font-size: $pxInRem-15;
            line-height: $iconDimensions;
            position: relative;
            font-weight: bold;
            text-align: center;
            @include border-radius(50%);
            background-color: $commonGrey;
            border: $iconBorderWidth solid $commonGrey;
            color: white;
            margin-right: $iconMarginRight;
            overflow: hidden;
            @include box-shadow($pxInRem-2 $pxInRem-2 $pxInRem-3 0 rgba(0, 0, 0, 0.5));
            @include transition (box-shadow $transition);

            &:after {
                @include box-shadow(inset 0 0 0 rgba(0, 0, 0, 0.5));
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                position: absolute;
                content: "&nbsp;";
                font-size: 0;
                @include transition (box-shadow $transition);
                @include border-radius(50%);
            }

            &.fileIconGreen {
                background-color: #06a22a;
                border-color: #06a22a;
            }

            &.fileIconGrey {
                background-color: #484848;
                border-color: #484848;
            }

            &.fileIconLightBlue {
                background-color: #1c68d0;
                border-color: #1c68d0;
            }

            &.fileIconYellow {
                background-color: #ecd909;
                border-color: #ecd909;
                color: $commonGrey;
            }

            &.fileIconBlue {
                background-color: #0b3295;
                border-color: #0b3295;
            }

            &.fileIconBrown {
                background-color: #643211;
                border-color: #643211;
            }

            &.fileIconRed {
                background-color: #9e0b0f;
                border-color: #9e0b0f;
            }

            &.fileIconOrange {
                background-color: #e1850d;
                border-color: #e1850d;
            }

            &.fileIconWhite {
                background-color: white;
                color: $commonGrey;
                border-color: $commonGrey;
            }
        }

        .fileText {
            font-size: 0;
            max-width: $articleBlockMaxWidth - $iconMarginRight - $iconDimensions - (2 * $iconMarginRight);

            .fileName, .fileDescription {
                display: block;
                color: $commonGrey;
            }

            .fileName {
                font-weight: bold;
                font-size: $pxInRem-18;
            }

            .fileDescription {
                font-size: $pxInRem-16;
                line-height: normal;
            }
        }
    }
}

@media only screen and (max-width: $mobileBreakpoint) {
    .article {
        .file {
            margin: $itemMarginMobile 0;
        }
    }
}

@media only screen and (max-width: $articleBlockMaxWidth + (2 * $articleBlockPadding)) {
    .article {

        .file {
            .fileIcon, .fileText {
                display: block;
                max-width: unset;
            }

            .fileIcon {
                float: left;
                margin-bottom: $pxInRem-10;
            }

            .fileText {
            }
        }
    }
}

//--------------------------------------------------
//---------BIG LINK---------------------------------
//--------------------------------------------------
.article {

    .bigLink {
        margin-bottom: $itemMargin;
        font-size: 0;

        .bigLinkImage, .bigLinkText {
            display: inline-block;
            vertical-align: middle;
        }

        $bigLinkImageWidth: 36%;
        $bigLinkImageMargin: 4%;

        .bigLinkImage {
            width: $bigLinkImageWidth;
            margin: 0;
            margin-right: $bigLinkImageMargin;

            img {
                margin: 0 auto;
            }
        }

        .bigLinkText {
            width: 100% - $bigLinkImageWidth - $bigLinkImageMargin;

            span {
                display: block;
            }

            .bigLinkHeading {
                font-weight: bold;
                margin-bottom: $pxInRem-6;
                font-size: $pxInRem-24;
            }

            .bigLinkDescription {
                margin-bottom: $pxInRem-8;
            }

            .commonButton {
                color: white;
                
                @include commonButtonScheme(white, $commonGrey, white, $commonGreyHover);

                &.commonButtonGreen {
                    @include commonButtonScheme(white, $commonGreen, white, $commonGreenHover);
                }

                &.commonButtonRed {
                    @include commonButtonScheme(white, $commonRed, white, $commonRedHover);
                }

                &.commonButtonYellow {
                    @include commonButtonScheme(white, $commonYellow, white, $commonYellowHover);
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobileBreakpoint) {
    .article {
        .bigLink {
            margin: $itemMarginMobile 0;

            .bigLinkImage, .bigLinkText {
                display: block;
                width: auto;
                margin: auto;
            }

            .bigLinkImage {
                margin-bottom: $pxInRem-8;
            }

            .bigLinkText {
                text-align: center;

                .bigLinkHeading {
                    font-size: $pxInRem-18;
                }
            }
        }
    }
}

//--------------------------------------------------
//---------SOCIAL SITES-----------------------------
//--------------------------------------------------
.article {
    text-align: left;
    $borderRadus: $pxInRem-6;
    $iconBlockDimensions: $pxInRem-40;

    .socialSiteLink {
        padding: $pxInRem-4;
        display: inline-block;
        vertical-align: middle;

        &:hover {
            text-decoration: none;

            .socialSite {
                .socialSiteIcon {
                    &:after {
                        opacity: 0;
                        left: $iconBlockDimensions;
                    }

                    &:before {
                        left: 0;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .socialSite {
        position: relative;
        @include border-radius($borderRadus);
        padding-left: $iconBlockDimensions;
        min-height: $iconBlockDimensions;
        overflow: hidden;

        &:hover {
        }
        //General style
        .socialSiteIcon {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: $iconBlockDimensions;
            @include border-radius($borderRadus);



            &:before, &:after {
                background-repeat: no-repeat;
                background-size: $pxInRem-40 $pxInRem-40;
                background-position: center center;
                @include border-radius($borderRadus);
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                content: " ";
                font-size: 0;
                @include transition(opacity $transition, left $transition);
            }

            &:before {
                left: -$iconBlockDimensions;
                opacity: 0;
            }

            &:after {
            }
        }

        .socialSiteName {
            display: block;
            font-size: $pxInRem-15;
            font-weight: bold;
            padding: 0 $pxInRem-16;
            line-height: $iconBlockDimensions;
            color: white;
        }
        //Individual social sites
        &.facebookSocialSite {
            background-color: $facebookColorHover;

            .socialSiteIcon {
                &:before, &:after {
                    background-image: url("/Content/img/article/facebook.png");
                }

                &:before {
                    background-color: $facebookColorHover;
                }

                &:after {
                    background-color: $facebookColor;
                }
            }
        }

        &.linkedInSocialSite {
            background-color: $linkedInColorHover;

            .socialSiteIcon {
                &:before, &:after {
                    background-image: url("/Content/img/article/linkedIn.png");
                }

                &:before {
                    background-color: $linkedInColorHover;
                }

                &:after {
                    background-color: $linkedInColor;
                }
            }
        }

        &.twitterSocialSite {
            background-color: $twitterColorHover;

            .socialSiteIcon {
                &:before, &:after {
                    background-image: url("/Content/img/article/twitter.png");
                }

                &:before {
                    background-color: $twitterColorHover;
                }

                &:after {
                    background-color: $twitterColor;
                }
            }
        }

        &.googleSocialSite {
            background-color: $googleColorHover;

            .socialSiteIcon {
                &:before, &:after {
                    background-image: url("/Content/img/article/googlePlus.png");
                }

                &:before {
                    background-color: $googleColorHover;
                }

                &:after {
                    background-color: $googleColor;
                }
            }
        }
    }
}


//--------------------------------------------------
//---------CODE-------------------------------------
//--------------------------------------------------
.article {
    pre {
        font-size: $normalFS;

        code {
            margin: $itemMargin auto;
        }
    }
}

@media only screen and (max-width: $mobileBreakpoint) {
    .article {
        pre {
            font-size: $mobileFS;

            code {
                margin: $itemMarginMobile auto;
            }
        }
    }
}