@import "../_Variables";
@import "../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../node_modules/@drozdik.m/common-mixins/_module";


.fabBottomRight {
    $spacing: 2rem;
    position: fixed;
    bottom: $spacing;
    right: $spacing;
}