@import "../_Variables";
@import "../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../node_modules/@drozdik.m/common-mixins/_module";



.commonButton {
    $borderRadius: 3rem;
    @include border-radius($borderRadius);
    padding: 1.25rem 2.5rem;
    @include transition(color $transition, background-color $transition, border-radius $transition);
    text-decoration: none;
    font-size: $pxInRem-24;
    font-weight: $fontWeightBold;
    position: relative;

    &:after {
        content: " ";
        font-size: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        @include border-radius($borderRadius);
        pointer-events: none;
        border: $pxInRem-3 solid white;
        @include transition(left $transition, right $transition, top $transition, bottom $transition);
    }

    &:hover {
        &:after {
            $space: $pxInRem-6;
            left: -$space;
            right: -$space;
            top: -$space;
            bottom: -$space;
        }
    }

    &:active {
        &:after {
            $space: $pxInRem-4;
            left: -$space;
            right: -$space;
            top: -$space;
            bottom: -$space;
        }
    }
}

@mixin commonButtonScheme($textColor, $textColorHover, $backgroundColor, $backgroundColorHover) {
    color: $textColor;
    background-color: $backgroundColor;

    &:after {
        border-color: $backgroundColor;
    }


    &:hover {
        color: $textColorHover;
        background-color: $backgroundColorHover;

        &:after {
            border-color: $backgroundColorHover;
        }
    }
}

.commonButtonBlack {
    @include commonButtonScheme(white, white, $black, $blackHover);
}

.commonButtonRed {
    @include commonButtonScheme(white, white, $red, $redHover);
}

.commonButtonDarkRed {
    @include commonButtonScheme(white, white, $darkRed, $darkRedHover);
}