@import "../_Variables";

@import "../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../node_modules/@drozdik.m/common-mixins/_module";


//--------------------------------------------------
//---------HEADING----------------------------------
//--------------------------------------------------
@mixin commonHeadingScheme($color) {
    color: $color;

    &:after {
        background-color: $color;
    }
}

.commonH {
    text-align: left;
    font-size: $pxInRem-64;
    font-weight: $fontWeightBlack;
    color: $black;
    position: relative;
    padding-block: $pxInRem-4;
    margin-bottom: $pxInRem-28;

    &:after {
        content: " ";
        font-size: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        height: $pxInRem-6;
        width: $pxInRem-57;
        background-color: $black;
    }

    &.commonHGradient {
        display: inline-block;
        @include commonHeadingScheme($red);
    }

    &.commonHBlack {
        @include commonHeadingScheme($black);
    }

    &.commonHWhite {
        @include commonHeadingScheme(white);
    }
}

//Do font gradient if the browser suports it
@supports ((-webkit-background-clip: text) or (-moz-background-clip: text) or (background-clip: text)) and ((-webkit-text-fill-color: transparent) or (-moz-text-fill-color: transparent) or (text-fill-color: transparent)) {
    .commonHGradient {
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-fill-color: transparent;

        &, &:after {
            background-image: linear-gradient(to right, $red, $black);
        }
    }
}

@media only screen and (max-width: 46rem) {
    .commonH {
        font-size: $pxInRem-50;
        padding-block: $pxInRem-4;
        margin-bottom: $pxInRem-28;

        &:after {
            height: $pxInRem-4;
            width: $pxInRem-46;
        }
    }
}
//--------------------------------------------------
//---------PARAGRAPH--------------------------------
//--------------------------------------------------
@mixin commonPragraphScheme($color) {
    strong{
        color: $color;
    }
}

.commonP {
    font-size: $pxInRem-22;
    font-weight: $fontWeightRegular;
    max-width: 40.625rem;
    margin-bottom: 2rem;
    line-height: 150%;

    strong {
        font-weight: $fontWeightBold;
    }

    &.commonPRed {
        @include commonPragraphScheme($red)
    }

    &.commonPBlack {
        @include commonPragraphScheme($black)
    }
}

@media only screen and (max-width: 46rem) {

    .commonP {
        font-size: $pxInRem-18;
        margin-bottom: 1rem;
        line-height: 150%;
    }
}
    