@use "sass:math";

@import "../_Variables.scss";
@import "../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../node_modules/@drozdik.m/common-mixins/_module";

$desktopMenuHeight: 6rem !default;
$mobileMenuHeight: 2.5rem !default;

$commonGrey: #212121 !default;

//--------------------------------------------------
//----------GENERAL---------------------------------
//--------------------------------------------------
#menu {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    z-index: 210;
    background-color: $black;

    nav {
        -webkit-backface-visibility: hidden;
    }

    a {
        text-decoration: none;
    }
}


//--------------------------------------------------
//----------DESKTOP MENU----------------------------
//--------------------------------------------------
#menu.desktopMenu {
    height: $desktopMenuHeight;
    font-size: 0;
    text-align: center;
    box-shadow: 0px 0px $pxInRem-20 $pxInRem-5 $black;
    //INNER MENU <nav>
    nav {
        position: relative;
        max-width: 120rem;
        text-align: right;
        margin: 0 auto;
        //MENU LOGO
        #menuLogo {
            float: left;
            padding-right: 1rem;
            padding-left: 1.75rem;

            svg {
                width: auto;
                $topBottomSpace: 1.5rem;
                height: $desktopMenuHeight - (2 * $topBottomSpace);
                margin: $topBottomSpace 0;
            }
        }
        //LIST <ul>
        ul {
            display: inline-block;

            li {
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                @include transition (background-color $transition);

                a {
                    $height: 3rem;
                    $padding: $pxInRem-48;
                    display: block;
                    font-size: $pxInRem-22;
                    height: $height;
                    line-height: $height;
                    padding: 0 $padding;
                    margin-top: math.div($desktopMenuHeight - $height, 2);
                    color: white;
                    @include transition (color $transition);
                    font-weight: $fontWeightSemiBold;
                    position: relative;

                    &:before {
                        position: absolute;
                        bottom: -$pxInRem-2;
                        left: 30%;
                        right: 30%;
                        opacity: 0;
                        height: $pxInRem-2;
                        background-color: white;
                        content: " ";
                        font-size: 0;

                        @include transition(opacity $transition, left $transition, right $transition, bottom $transition, top $transition, height $transition)
                    }

                    &.contact {
                        background-color: $red;
                        @include border-radius(5rem);
                        $margin: $pxInRem-24;
                        padding-left: $padding - $margin;
                        padding-right: $padding - $margin;
                        margin-left: $margin;
                        margin-right: $margin;

                        @include transition(background-color $transition, border-radius $transition);

                        &:before {
                            display: none;
                        }

                        &:hover {
                            background-color: $redHover;
                        }

                        &:active {
                            background-color: rgba(255, 255, 255, 0.2);
                            border-radius: 0;
                            
                        }
                    }

                    &:hover {
                        color: white;

                        &:before {
                            left: $padding - 0.5rem;
                            right: $padding - 0.5rem;
                            bottom: 0;
                            opacity: 0.8;
                        }
                    }

                    &:active {
                        //color: $black;

                        &:before {
                            left: 0.75rem;
                            right: 0.75rem;
                            height: $height;
                            opacity: 0.2;
                        }
                    }
                }
            }
        }
        //HAMBURGER
        #menuHamburger {
            display: none;
        }
    }
}


//--------------------------------------------------
//----------MOBILE MENU-----------------------------
//--------------------------------------------------
.menuWrapper.mobileMenu {
    height: $mobileMenuHeight;
    font-size: 0;
    text-align: left;
    //INNER MENU <nav>
    .menu {
        position: relative;
        height: 100%;
        //MENU LOGO
        .menuLogo {
            position: absolute;
            left: $pxInRem-14;
            top: 0;
            bottom: 0;
            height: $mobileMenuHeight;
            padding-right: $pxInRem-18;

            img, span {
                display: inline-block;
                vertical-align: middle;
                text-align: left;
            }

            img {
                width: auto;
                $topBottomSpace: 0.25rem;
                height: $mobileMenuHeight - (2 * $topBottomSpace);
                margin: $topBottomSpace 0;
                margin-right: $pxInRem-12;
            }

            span {
                position: relative;
                left: 0;
                height: $mobileMenuHeight;
                line-height: $mobileMenuHeight;
                font-size: $pxInRem-17;
                color: $commonGrey;
                @include transition(left $transition);
            }

            &:hover {
                span {
                    left: $pxInRem-8;
                }
            }
        }
        //LIST <ul>
        ul {
            display: block;
            position: absolute;
            top: $mobileMenuHeight;
            left: 0;
            right: 0;
            max-height: 0;
            @include transition (max-height $transition);
            overflow: hidden;
            background-color: white;
            //border-bottom: $pxInRem-1 solid $commonGrey;
            @include box-shadow(0 $pxInRem-3 $pxInRem-2 0px rgba(0, 0, 0, 0.5));

            li {
                @include transition (background-color $transition);

                a {
                    display: block;
                    font-size: $pxInRem-16;
                    padding: 0.5rem 0 0.5rem 1.5rem;
                    color: $commonGrey;
                    @include transition (color $transition);
                }

                &:hover {
                    background-color: $commonGrey;

                    a {
                        color: white;
                    }
                }
            }
        }
        //HAMBURGER
        .hamburger {
        }
    }
}

//--------------------------------------------------
//----------BURGER----------------------------------
//--------------------------------------------------
$burgerWidth: $pxInRem-30;
$burgerHeight: $pxInRem-20;
$burgerLineHeight: $pxInRem-4;

#menu.mobileMenu {
    .hamburger {
        width: $burgerWidth;
        height: $burgerHeight;
        position: absolute;
        right: 1rem;
        top: math.div($mobileMenuHeight, 2) - math.div($burgerHeight, 2);
        @include transform (rotate(0deg));
        @include transition ($transition);
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: $burgerLineHeight;
            width: 100%;
            background: #373737;
            opacity: 1;
            left: 0;
            @include transform (rotate(0deg));
            @include transition (250ms ease-in-out);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .child1 {
            top: 0;
        }

        .child2, .child3 {
            top: math.div($burgerHeight, 2) - math.div($burgerLineHeight, 2);
        }

        .child4 {
            top: $burgerHeight - $burgerLineHeight;
        }
    }
    //OPENED MENU
    &.openMenu {
        .hamburger {
            .child2 {
                @include transform (rotate(45deg));
            }

            .child3 {
                @include transform (rotate(-45deg));
            }

            .child1, .child4 {
                top: ($burgerHeight, 2) - ($burgerLineHeight, 2);
                width: 0%;
                left: 50%;
            }
        }
    }
}



