@use "sass:math";

@import "../_Variables.scss";
@import "../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../node_modules/@drozdik.m/common-mixins/_module";

$mobileMenuHeight: 2.5rem !default;

//--------------------------------------------------
//----------MOBILE MENU-----------------------------
//--------------------------------------------------
#menu.mobileMenu {
    //INNER MENU <nav>
    nav {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100%;
        background-color: $black;
        z-index: 209;
        @include transition(right $transition);
        //MENU LOGO
        #menuLogo {
            margin: 0.75rem 0 0.5rem 1rem;
            display: block;

            svg {
                height: 2.5rem;
                width: 2.8525rem;
                //width: auto;
            }
        }
        //LIST <ul>
        ul {
            list-style-type: none;
            margin-top: 1rem;
            padding-left: $pxInRem-12;
            padding-right: $pxInRem-16;


            a {
                $paddingLeft: $pxInRem-16;
                font-size: $pxInRem-22;
                color: white;
                @include transition (color $transition);
                font-weight: $fontWeightSemiBold;
                display: inline-block;
                padding: $pxInRem-8 0;
                margin: $pxInRem-2 0;
                margin-left: $paddingLeft;
                padding-right: $pxInRem-20;
                position: relative;

                &.contact {
                    background-color: $red;
                    @include border-radius(5rem);
                    margin-left: 0;
                    padding-left: $paddingLeft;
                    @include transition(background-color $transition, border-radius $transition);

                    &:before {
                        display: none;
                    }

                    &:hover {
                        background-color: $redHover;
                    }

                    &:active {
                        background-color: rgba(255, 255, 255, 0.2);
                        border-radius: 0;
                    }
                }

                &:before {
                    content: " ";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: $pxInRem-2;
                    background-color: white;
                    opacity: 0;
                    width: 0;
                    @include transition(width $transition, opacity $transition, height $transition)
                }

                &:hover {
                    &:before {
                        width: 100%;
                        opacity: 1;
                    }
                }

                &:active {
                    &:before {
                        height: $pxInRem-6;
                        //opacity: 0.2;
                    }
                }
            }
        }
        //HAMBURGER
        .hamburger {
        }
    }

    &.openMenu {
        nav {
            right: 0 !important;
        }
    }
}

//--------------------------------------------------
//----------BURGER----------------------------------
//--------------------------------------------------
#menu.mobileMenu {
    #menuHamburger {
        position: fixed;
        right: 0;
        top: 0;
        background-color: white;
        font-size: 0;
        @include box-shadow(0 0 $pxInRem-6 $pxInRem-2 rgba(0, 0, 0, 0.25));
        @include border-bottom-left-radius($radiusSmall);
        @include transition(background-color $transition);
        cursor: pointer;
        z-index: 210;
        $dimensions: 3.5rem;
        height: $dimensions;
        width: $dimensions;

        &:hover {
            background-color: #f2f2f2;
        }

        &:active {
            background-color: #dcdcdc;
        }

        svg {
            width: 100%;
            height: 100%;
        }

        .line {
            fill: none;
            stroke: black;
            stroke-width: 6;
            transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
            //@include transition(stroke-dasharray $transition, stroke-dashoffset $transition)
        }

        .line1 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
        }

        .line2 {
            stroke-dasharray: 60 60;
            stroke-width: 6;
        }

        .line3 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
        }
    }


    &.openMenu #menuHamburger {
        .line1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
        }

        .line2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
        }

        .line3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
        }
    }
}



