@import "../../node_modules/@drozdik.m/px-in-rem/module";

//COLORS
$red: #C31432;
$darkerRed: #9B1233;
$darkRed: #741034;
$dark: #4C0D35;
$black: #240B36;

$redHover: $darkerRed;
$darkerRedHover: $darkRed;
$darkRedHover: $dark;
$darkHover: $black;
$blackHover: #000000;

$mainTheme: $red;
$mainThemeHover: $redHover;

$projectsBackground: #F6F4FA;
$blogBackground: #FCF8F8;
$darkTransparentBackground: rgba(36, 11, 54, 0.7);
$darkTransparentBackgroundDarker: rgba(36, 11, 54, 0.9);

$green: #90EE90;

$lightBlack: #F8F4FB;
$lightRed: #FFF9FA;

$linkFresh: #1a0dab;
$linkClicked: #660099;

$successColor: #0a7b12;
$successColorHover: #08590e;
$sucesssColorFaded: rgba(10, 123, 18, 0.5);

$errorColor: #b00606;
$errorColorHover: #870404;
$errorColorFaded: rgba(176, 6, 6, 0.5);

//TRANSITIONS
$transition: 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

//BLOCK MAX WIDTH
$blockNarrowerMaxWidth: 70rem;
$blockMaxWidth: 80rem;

//FONT WEIGHTS
$fontWeightRegular: normal; //400
//$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: bold; //700
$fontWeightExtraBold: 800;
$fontWeightBlack: 900;

//RADIUSES
$radiusSmall: $pxInRem-6;