@import "../_Variables.scss";
@import "../../../node_modules/@drozdik.m/px-in-rem/_module";
@import "../../../node_modules/@drozdik.m/common-mixins/_module";


//--------------------------------------------------
//---------ABOUT ME---------------------------------
//--------------------------------------------------
#aboutMe{
    background-image: url("/Web/AboutMe/DottedBackground.png");
    background-repeat: repeat;
    background-position: center center;
    background-size: auto auto;

}


