
$blue: #1a93d8;
$blueHover: #1578b1;

$mainTheme: $blue;
$mainThemeHover: $blueHover;


$commonGrey: #212121;
$commonGreyHover: #060606;
$commonGreen: #0a7b12;
$commonRed: #b00606;

$transition: 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

$pathPrefix: "/_content/MartinDrozdik_Pages_User/"