
$red: #C31432;
$darkerRed: #9B1233;
$darkRed: #741034;
$dark: #4C0D35;
$black: #240B36;

$redHover: $darkerRed;
$darkerRedHover: $darkRed;
$darkRedHover: $dark;
$darkHover: $black;
$blackHover: #000000;

$mainTheme: $red;
$mainThemeHover: $redHover;

$transition: 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

$commonGrey: #212121;
$commonGreyHover: #060606;
$commonGreen: #0a7b12;
$commonRed: #b00606;

$transition: 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

$pathPrefix: "/_content/MartinDrozdik_Pages_User"